.banner{
    text-align: center;
    font-size: 45px;
    color: lightpink;
    font-family:"Courier New";
    align-items: center;
    background-color: black;
}

.container{
    display: flex;
    text-align: center;
}

nav a{
    flex: 1;
    color: lightpink;
    font-size: 40px;
    font-family: "Courier New";
    text-decoration: none;
    background-color: black;
}

nav a:hover{
    background-color: white;
    color: lightpink;
    transition: 1s;
}