.banner{
    text-align: center;
    font-size: 45px;
    color: lightpink;
    font-family:"Courier New";
    align-items: center;
}

.container{
    display: flex;
    text-align: center;
}

nav a{
    flex: 1;
    margin: 0 10px 0 10px;
    color: lightpink;
    background-color: #E7585E;
    font-size: 39px;
    font-family: "Courier New";
    text-decoration: none;
}

nav a:hover{
    background-color: white;
    color: lightpink;
    transition: 1s;
}

